body {
    background: #F6F6FA;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

ul, 
ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}


/* sidebar  */
.sidebar {
    background-color: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 500px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}


/* contacts  */
.contact-title {
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161D2A;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 24px;
margin-right: 8px;
}

.contacts-link {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20x;
    text-decoration-line: underline;
}

.contact-item {
    margin-top: 0px;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}


/* skils  */
.skils-container {
    margin-bottom: 40px;
}

.skils-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 4px;
}

.skils-list {
    padding-left: 16px;
}

.skils-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}

/* main-content */
.my-profession {
    color: yellowgreen;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.summary {
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

.my-project-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px; 
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-project-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
}

.my-project-list {
    padding-left: 18px;
}

.my-project-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-project-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* work-experience */
.work-experience {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px; 
    margin-top: 0px;
    margin-bottom: 8px;
}

.work-experience-title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; 
    margin-top: 0px;
    margin-bottom: 12px;
}

.work-experience-location {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; 
    margin-top: 0px;
    margin-bottom: 8px;
}

.work-experience-location-ceparator {
    color: #000;
}

.work-experience-company {
    color: #6D9BF5;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.work-experience-desc {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-left: 18px;
}


.work-experience-container {
    margin-bottom: 40px;
}

/* education */
.education {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 6px;
}

.education-speciality {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;    
    margin-top: 0px;
    margin-bottom: 6px;
}

.education-location {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 30px;
}

.education-location-ceparator {
    color: #000;
}




